@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/slick';
@import 'libs/tiny-slider';

@import 'base/variables';
<<<<<<< Updated upstream
@import 'base/animation';
=======
@import 'base/animations';
>>>>>>> Stashed changes

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
};

@import 'block/promo';
@import 'block/header';
@import 'block/buttons';
@import "block/advantage";
@import 'block/title';
@import 'block/consultation';
@import 'block/forms';
@import 'block/carousel';
@import 'block/catalog';
@import 'block/reviews';
@import 'block/footer';
@import 'block/modal';
@import 'block/pageup';

@import 'base/media'